@import "tailwindcss";

/* TODO: set up tailwind base styles */
@layer base {
    hr {
        @apply border-solid border-t-1 border-gray-200;
    }
    h1 {
        @apply font-bold text-2xl;
    }
    h2 {
        @apply font-bold text-xl;
    }
    h3 {
        @apply font-bold text-lg;
    }
    body {
        @apply h-fit m-0 min-w-[320px];
    }
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    @apply min-w-[400px] h-fit mx-0  flex flex-col gap-8;
}

input[type="text"] {
    @apply text-black border-1 border-solid border-gray-200 w-full rounded-md px-5 py-3 focus:outline-none;
}

/* @media (prefers-color-scheme: light) { */
:root {
    color: #000000;
    background-color: #ffffff;
}
/* } */
