@import "tailwindcss";

/* TODO: set up tailwind base styles */
@layer base {
    hr {
        @apply border-solid border-t-1 border-gray-200;
    }
    h1 {
        @apply font-bold text-2xl;
    }
    h2 {
        @apply font-bold text-xl;
    }
    h3 {
        @apply font-bold text-lg;
    }
    body {
        @apply h-fit m-0 min-w-[320px];
    }
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    @apply min-w-[400px] h-fit mx-0  flex flex-col gap-8;
}

input[type="text"] {
    @apply focus:outline-none;
}

input[type="text"].standard {
    @apply text-black border-1 border-solid border-gray-200 bg-gray-50 w-full rounded-md px-3 py-2;
}

/* @media (prefers-color-scheme: light) { */
:root {
    color: #000000;
    background-color: #ffffff;
}
/* } */

p:empty {
    min-height: 1em;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
